## EXAMPLE CONFIG FILE ##
# Comments can be prefixed with a '#'


# Comma-separated list of files. If multiple files are specified, experiment names will be prefixed with the filename.
filename=data/example_data.csv

# Restrict temperature range
temperature_range=10,90

legend=on

# Optionally, automatic Excel export can be disabled by setting disable_export=1.
# If enabled, files will be saved to "out" directory.
disable_export=0

# baseline_number_of_points specifies the amount of points that will be used for 
# Setting this property to -1 will attempt to automatically determine best number of points
baseline_number_of_points=12

fontsize=14

# Definitions of custom colors (optional):
# color=COLOR_NAME,R,G,B
# example: color=color1,1,0,0.5

color=my_color,0.2,0.4,1
color=my_color_2,1,0,0

# Definitions of custom markers (optional):
# see list of markers at https://matplotlib.org/stable/api/markers_api.html
# customMarker=original_name,marker,name,color_name
# See two examples below:
# customMarker=Sample1,^,New name of sample 1,my_color_2
# customMarker=Sample2,^,New name of sample 2,my_color
